<div fxLayout="column wrap">
  <div>
    <h1>Buscador de Heroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column wrap">
    <h3>Buscador</h3>
    <mat-form-field>
      <input
        type="text"
        placeholder="Ingresa ..."
        aria-label="Number"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="searching()"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
        <mat-option
          *ngFor="let heroe of heroes"
          [value]="heroe"
          style="color: white"
        >
          {{ heroe.superhero }}
        </mat-option>
        <mat-option *ngIf="!heroes.length && termino" value="">
            No se encontró nada con el termino {{termino}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </div>

  <div *ngIf="!heroeSelected" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxFlex="20" fxFlex.sm="30" fxFlex.lg="15" *ngFor="let heroe of heroes">
      <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
    </div>
  </div>

  <div *ngIf="heroeSelected && termino">
    <div fxLayout="row">
      <app-heroe-tarjeta [heroe]="heroeSelected" fxFlex="20" fxFlex.sm="30" fxFlex.lg="15" ></app-heroe-tarjeta>
    </div>
  </div>
</div>
